@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-radius: 20px;
  --outer-curve-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  font-family: "DM Sans", sans-serif;
} */
body {
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.manrope-200 {
  font-weight: 200;
}

.manrope-300 {
  font-weight: 300;
}
.manrope-400 {
  font-weight: 400;
}
.manrope-500 {
  font-weight: 500;
}
.manrope-600 {
  font-weight: 600;
}
.manrope-700 {
  font-weight: 700;
}
.manrope-800 {
  font-weight: 800;
}

/* .nav-links::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #1f1f1f;
  display: none;
  margin-right: 1rem;
} */

.nav-links:hover {
  font-weight: 700;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  transition: font-weight 0.3s;
}
.rounded-4xl {
  border-radius: 2rem;
}
.text-xsm {
  font-size: 0.7rem;
}
.z-one {
  z-index: 1;
}
.z-two {
  z-index: 2;
}
.z-three {
  z-index: 3;
}
.curved-rectangle {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.curved-rectangle-buttom {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.curved-rectangle-buttom::after,
.curved-rectangle-buttom::before {
  content: "";
}
.curved-rectangle-buttom::before {
  background: transparent;
  width: var(--outer-curve-size);
  height: var(--outer-curve-size);
  position: absolute;
  top: -1%;
  right: 99%;
  border-radius: 0px var(--border-radius) 0 0;
  box-shadow: 4px -6px #fff;
}
.curved-rectangle-buttom::after {
  background: transparent;
  width: var(--outer-curve-size);
  height: var(--outer-curve-size);
  position: absolute;
  top: -1%;
  left: 99%;
  border-radius: var(--border-radius) 0 0 0;
  box-shadow: -4px -6px #fff;
}
.curved-rectangle::before {
  content: "";
  background: transparent;
  position: absolute;
  width: var(--outer-curve-size);
  height: var(--outer-curve-size);
  left: 99%;
  bottom: -1%;
  border-radius: 0 0 0 var(--border-radius);
  box-shadow: -7px 4px #fff;
}
.curved-rectangle::after {
  content: "";
  background: transparent;
  position: absolute;
  width: var(--outer-curve-size);
  height: var(--outer-curve-size);
  right: 99%;
  bottom: -1%;
  border-radius: 0 0 var(--border-radius) 0;
  box-shadow: 6px 4px #fff;
}
.half-rect::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: transparent;
  bottom: 100%;
  left: 0px;
  border-radius: 0 0 0 16px;
  box-shadow: -4px 6px #fff;
}
@media only screen and (min-width: 1024px) {
  .h-128 {
    height: 36rem;
  }
}
/* .nav-links:hover::before {
  display: inline-flex;
} */
