@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  font-family: "DM Sans", sans-serif;
} */
body {
  font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.manrope-200 {
  font-weight: 200;
}

.manrope-300 {
  font-weight: 300;
}
.manrope-400 {
  font-weight: 400;
}
.manrope-500 {
  font-weight: 500;
}
.manrope-600 {
  font-weight: 600;
}
.manrope-700 {
  font-weight: 700;
}
.manrope-800 {
  font-weight: 800;
}

/* .nav-links::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #1f1f1f;
  display: none;
  margin-right: 1rem;
} */

.nav-links:hover {
  font-weight: 700;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  transition: font-weight 0.3s;
}
/* .nav-links:hover::before {
  display: inline-flex;
} */
